# Environment variables
.env
*.env
.env.local
.env.*

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Flask instance folder
instance/

# IDE settings
.vscode/
.idea/
*.swp
*.swo

# Logs & temp files
*.log
*.tmp
*.cache
*.sqlite3

# OS files
.DS_Store
Thumbs.db
